<div class="container">

    <form class="" role="form">
        <div class="panel panel-default">
            <div class="panel-heading">Please provide meal details</div>
            <div class="panel-body">

                <div class="form-group">
                    <span class="channel-text" class="col-md-2">Mode of contact:</span>
                    <div class="col-md-4">
                        <select class="selectpicker modes-contact form-control" name="modeSelect" id="modeSelect" ng-model="viewData.contMode">
                            <option ng-repeat="mode in modesArr" value="{{mode.value}}">{{mode.text}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <span class="channel-text" class="col-md-2">Food Type:</span>
                    <div class="col-md-4">
                        <select class="selectpicker modes-contact form-control" name="foodTypeSelect" id="foodTypeSelect" ng-model="viewData.foodType">
                            <option ng-repeat="foodType in foodTypeArr" value="{{foodType.value}}">{{foodType.text}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <span class="channel-text" class="col-md-2">Refrigeration:</span>
                    <div class="col-md-4">
                        <select class="selectpicker modes-contact form-control" name="refrig" id="refrig" ng-model="viewData.refrig">
                            <option ng-repeat="ref in refrigArr" value="{{ref.value}}">{{ref.text}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <span class="channel-text col-md-2">Meal for:</span>
                    <div class="col-md-4">
                        <select class="selectpicker modes-contact form-control" name="mealForSelect" id="mealForSelect" ng-model="viewData.mealForName">
                            <option ng-repeat="orgFor in orgForArr" value="{{orgFor.value}}">{{orgFor.text}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="mealForName" class="col-md-2">Meal For Name:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="mealForName" placeholder="children, old, birds, cats" ng-model="viewData.mealFor">
                    </div>
                </div>

                <div class="form-group">
                    <label for="quantity" class="col-md-2">Quantity:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="quantity" placeholder="Provide amount of food in kgs" ng-model="viewData.quantity">
                    </div>
                </div>

                <div class="form-group">
                    <label for="foodInfo">About food:</label>
                    <textarea class="form-control" rows="5" id="foodInfo" ng-model="viewData.foodInfo">{{viewData.foodInfo}}</textarea>
                </div>

                <div class="form-group">
                    <label for="street" class="col-md-2">Street:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="street" placeholder="House number, street" ng-model="viewData.street">
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-md-2">City:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="city" placeholder="City" ng-model="viewData.city">
                    </div>
                </div>
                <div class="form-group">
                    <label for="state" class="col-md-2">State:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="state" placeholder="State" ng-model="viewData.state">
                    </div>
                </div>
                <div class="form-group">
                    <label for="zip" class="col-md-2">zipcode:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="zip" placeholder="zip code" ng-model="viewData.zip">
                    </div>
                </div>

                <div class="panel-heading">Loc coord:</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="lon" class="col-md-2">longitude:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="lon" placeholder="longitude" ng-model="viewData.lon">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lat" class="col-md-2">latitude:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="lat" placeholder="latitude" ng-model="viewData.lat">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="startPickTime" class="col-md-2">Pick up time start:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="startPickTime" placeholder="pick time from" ng-model="viewData.startPickTime">
                    </div>
                </div>

                <div class="form-group">
                    <label for="endPickTime" class="col-md-2">Pick up time end:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="endPickTime" placeholder="pick time till" ng-model="viewData.endPickTime">
                    </div>
                </div>

                <div class="form-group">
                    <label for="comment">About food:</label>
                    <textarea class="form-control" rows="5" id="comment" ng-model="viewData.foodInfo">{{viewData.comment}}</textarea>
                </div>

                <div class="form-group">
                    <label for="estExpTime" class="col-md-2">Estimated expiration time:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="estExpTime" placeholder="food will probably expire by 2016/12/12 12:12:12" ng-model="viewData.endPickTime">
                    </div>
                </div>

            </div>
        </div>
    </form>

    <div class="row bottom-btn-wrap user-input-group">
        <button class="btn btn-primary btn-next pull-right" type="button" ng-click="saveMeal( )">
            <span class="glyphicons">Save</span>
        </button>
    </div>

</div>