<div class="container">

    <div class="alert alert-warning">
        {{getNotification()}}
    </div>

    <form class="" role="form">

        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading">Search for nearby organizations</div>
                <div class="panel-body">
                    <label for="orgName" class="col-md-4">Organization Name:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="orgName" placeholder="Please enter org name" ng-model="viewData.orgName">
                    </div>

                    <div class="panel-heading">Loc coord:</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="lon" class="col-md-2">longitude:</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="lon" placeholder="longitude" ng-model="viewData.lon">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lat" class="col-md-2">latitude:</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="lat" placeholder="latitude" ng-model="viewData.lat">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lat" class="col-md-2">radius:</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="radius" placeholder="radius" ng-model="viewData.radius">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="channel-text col-md-2">Type of organization:</span>
                        <div class="col-md-2">
                            <select class="selectpicker modes-contact form-control" name="orgTypeSelect" id="orgTypeSelect" ng-model="viewData.orgType">
                                <option ng-repeat="orgType in orgTypeArr" value="{{orgType.value}}">{{orgType.text}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="channel-text col-md-2">For:</span>
                        <div class="col-md-2">
                            <select class="selectpicker modes-contact form-control" name="orgForSelect" id="orgForSelect" ng-model="viewData.orgFor">
                                <option ng-repeat="orgFor in orgForArr" value="{{orgFor.value}}">{{orgFor.text}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="forName" class="col-md-2">for name:</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="forName" placeholder="cat, dogs" ng-model="viewData.orgForName">
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="channel-text" class="col-md-2">Mode of contact:</span>
                        <select class="selectpicker modes-contact form-control" name="modeSelect" id="modeSelect" ng-model="viewData.contMode">
                            <option ng-repeat="mode in modesArr" value="{{mode.value}}">{{mode.text}}</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="rating" class="col-md-2">Minimum Rating:</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="rating" value="{{viewData.rating}}">
                        </div>
                    </div>

                    <div class="row bottom-btn-wrap user-input-group">
                        <button class="btn btn-primary btn-next pull-right" type="button" ng-click="searchNearbyOrgs( )">
                            <span class="glyphicons">Search</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </form>

    <div class="panel panel-default">
        <div class="panel-heading">Results for your search</div>
        <div class="panel-body" ng-repeat="orgData in orgDataArr">

            <div class="panel panel-default">
                <div class="panel-heading">{{orgData.orgName}}</div>
                <div class="panel-body">
                    <p>Address: {{orgData.street}}, {{orgData.city}}, {{orgData.state}}, {{orgData.zip}}</p>
                    <p>contact-person: {{orgData.persons}}</p>
                    <p>phone: {{orgData.phones}}</p>
                    <p>email-id: {{orgData.emailIds}}</p>
                    <p>fax: {{orgData.faxes}}</p>
                    <p>whatsapp: {{orgData.whatsappIds}}</p>
                    <p>rating: {{orgData.rating}}</p>
                </div>
            </div>

        </div>
    </div>

</div>