<div class="container" ng-controller="updateOrgController">
    <form class="" role="form">

        <div class="form-group">
            <div class="panel-body">
                <label for="orgName" class="col-md-4">Organization Name:</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="orgName" placeholder="Please enter org name" value="{{getOrgName()}}" ng-model="resData.orgName">
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Address</div>
            <div class="panel-body">

                <div class="form-group">
                    <label for="street" class="col-md-2">Street:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="street" placeholder="House number, street" value="{{getStreet()}}" ng-model="resData.street">
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-md-2">City:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="city" placeholder="City" value="{{getCity()}}" ng-model="resData.city">
                    </div>
                </div>
                <div class="form-group">
                    <label for="state" class="col-md-2">State:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="state" placeholder="State" value="{{getState()}}" ng-model="resData.state">
                    </div>
                </div>
                <div class="form-group">
                    <label for="zip" class="col-md-2">zipcode:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="zip" placeholder="zip code" value="{{getZip()}}" ng-model="resData.zip">
                    </div>
                </div>

                <div class="panel-heading">Loc coord:</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="lon" class="col-md-2">longitude:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="lon" placeholder="longitude" value="{{getLon()}}" ng-model="resData.lat">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lat" class="col-md-2">latitude:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="lat" placeholder="latitude" value="{{getLat()}}" ng-model="resData.lat">
                        </div>
                    </div>
                </div>

                <div class="panel-heading"> contact:</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="people" class="col-md-2">contact persons:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="people" placeholder="enter comma separated persons to contact" value="{{getContactPersons()}}" ng-model="resData.persons">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-md-2">phone numbers:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="phone" placeholder="enter comma separated phone numbers" value="{{getContactPhones()}}" ng-model="resData.phones">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emails" class="col-md-2">emails:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="emails" placeholder="enter comma separated email" value="{{getEmailIds()}}" ng-model="resData.emailIds">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="faxes" class="col-md-2">faxes:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="faxes" placeholder="enter comma separated faxes" value="{{getFaxes()}}" ng-model="resData.faxes">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="whatsapp" class="col-md-2">whatsapp:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="whatsapp" placeholder="enter comma separated whatsapp" value="{{getWhatsAppIds()}}" ng-model="resData.whatsappIds">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <span class="channel-text" class="col-md-2">Mode of contact:</span>
                    <!--select class="selectpicker modes-contact form-control" ng-options="mode.name as mode.value for mode in modesArr" ng-model="selectedModeObj">
                    </select-->
                    <select class="selectpicker modes-contact form-control" name="modeSelect" id="modeSelect" ng-model="resData.contMode">
                        <option ng-repeat="mode in modesArr" value="{{mode.value}}">{{mode.text}}</option>
                    </select>
                </div>


                <div class="form-group">
                    <span class="channel-text col-md-2">Type of organization:</span>
                    <div class="col-md-2">
                        <select class="selectpicker modes-contact form-control" name="orgTypeSelect" id="orgTypeSelect" ng-model="resData.orgType">
                            <option ng-repeat="orgType in orgTypeArr" value="{{orgType.value}}">{{orgType.text}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <span class="channel-text col-md-2">For:</span>
                    <div class="col-md-2">
                        <select class="selectpicker modes-contact form-control" name="orgForSelect" id="orgForSelect" ng-model="resData.orgFor">
                            <option ng-repeat="orgFor in orgForArr" value="{{orgFor.value}}">{{orgFor.text}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="forName" class="col-md-2">for name:</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="forName" placeholder="cat, dogs" value="{{getOrgForName()}}" ng-model="resData.orgForName">
                    </div>
                </div>

                <div class="form-group">
                    <label for="bfast" class="col-md-2">breakfast:</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="bfast" placeholder="enter breakfast amount" value="{{getEstMealAmountForBreakfast()}}" ng-model="resData.estBreakfastAmnt">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lunch" class="col-md-2">Lunch:</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="lunch" placeholder="enter lunch amount" value="{{getEstMealAmountForLunch()}}" ng-model="resData.estLunchAmnt">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dinner" class="col-md-2">Dinner:</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="dinner" placeholder="enter dinner amount" value="{{getEstMealAmountForDinner()}}" ng-model="resData.estDinnerAmnt">
                    </div>
                </div>

                <div class="form-group">
                    <label for="comment">comment:</label>
                    <textarea class="form-control" rows="5" id="comment" ng-model="resData.comment">{{getComment()}}</textarea>
                </div>

                <div class="form-group">
                    <label for="rating" class="col-md-2">Your Rating:</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="rating" value="{{getRating()}}" disabled>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <div class="row bottom-btn-wrap user-input-group">
        <button class="btn btn-primary btn-next pull-right" type="button" ng-click="saveOrgData( )">
            <span class="glyphicons">Save</span>
        </button>
    </div>

</div>

