extends layout

block css
  if env=="development"
    link(rel="stylesheet", href="plugins/angular-material/angular-material.min.css")
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel='stylesheet', href='/css/site.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/nga.all.min.css')
    link(rel='stylesheet', href='/css/themes.css')
    link(rel='stylesheet', href='/css/dashboard.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/plugins/bootstrap-slider/slider.css')
    link(rel='stylesheet', href='/css/flexslider.css')
    link(rel='stylesheet', href='/plugins/owl-carousel/owl.theme.css')
    link(rel='stylesheet', href='/plugins/owl-carousel/owl.transitions.css')
    link(rel='stylesheet', href='/plugins/owl-carousel/owl.carousel.css')
    // link(rel='stylesheet', href='css/app.css')
    // link(rel='stylesheet', href='css/bootstrap.css')
    //link(rel='stylesheet', href='/bower_components/angular-loading-bar/build/loading-bar.css' )
  else
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/bower_components/angular-loading-bar/build/loading-bar.min.css' )
block js
  if env=="development"
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/plugins/bootstrap-slider/bootstrap-slider.js")
    script(src="/js/angular.min.js")
    script(src="/js/angular-animate.min.js")
    script(src="/js/angular-ui-router-min.js")
    script(src="/js/angular-resource.js")
    script(src="/plugins/knob/jquery.knob.js")
    script(src="/plugins/Chart.min.js")
    script(src="/plugins/owl-carousel/owl.carousel.min.js")

    // Angular Material Library
    script(src="/js/angular-material.min.js")
    script(src="/js/angular-aria.min.js")
    script(src="/js/angular-messages.min.js")

    script(src="/js/angular-flash.js")
    script(src="/js/angular-sanitize.js")
    script(src="/js/ui-bootstrap-tpls-0.13.0.min.js")

    //Common
    script(src="/app/common/config.js")

    //main app
    script(src="/app/app.js")
    script(src="/app/common/appCtrl.js")
    script(src="/app/services/apiService.js")

    //Login Module
    script(src="/app/modules/login/loginMgmt.js")
    script(src="/app/modules/login/loginService.js")
    script(src="/app/modules/login/loginCtrl.js")

    //Dashboard Module
    script(src="/app/modules/dashboard/dashboardApplication.js")
    script(src="/app/modules/dashboard/dashboardService.js")

    //services
    script(src="/app/services/ConfigsService.js")
    script(src="/app/services/LoggerService.js")
    script(src="/app/services/MealCrudService.js")
    script(src="/app/services/OrgCrudService.js")
    script(src="/app/services/UtilsService.js")

    //Controllers
    script(src="/app/modules/dashboard/controllers/websites.js")
    script(src="/app/modules/dashboard/controllers/about.js")
    script(src="/app/modules/dashboard/controllers/achievements.js")
    script(src="/app/modules/dashboard/controllers/contact.js")
    script(src="/app/modules/dashboard/controllers/education.js")
    script(src="/app/modules/dashboard/controllers/experience.js")
    script(src="/app/modules/dashboard/controllers/gallery.js")
    script(src="/app/modules/dashboard/controllers/portfolio.js")
    script(src="/app/modules/dashboard/controllers/home.js")
    script(src="/app/modules/dashboard/controllers/recent.js")
    script(src="/app/modules/dashboard/controllers/skills.js")
    script(src="/app/modules/dashboard/controllers/UpdateOrgController.js")

    //script( src='/bower_components/angular-loading-bar/build/loading-bar.js' )
    //script( src='/bower_components/angular-animate/angular-animate.js' )
  else
    //script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    //script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    //script(src="/dist/js/bower_components.min.js")
    //script(src="/dist/js/main.min.js")

block content
    div( flash-message="5000" )
    div( ui-view )