extends layout

block css
  if env=="development"
    link(rel="stylesheet", href="/stylesheets/external/bootstrap.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    // link(rel='stylesheet', href='css/app.css')
    // link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/angular-loading-bar/build/loading-bar.css' )
  else
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/bower_components/angular-loading-bar/build/loading-bar.min.css' )
block js
  if env=="development"
    script(src="/javascripts/external/jquery.js")
    script(src="/javascripts/external/bootstrap.js")

    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-route/angular-route.js")

    script(src='/bower_components/angular-cookies/angular-cookies.js')
    script( src='/bower_components/angular-local-storage/angular-local-storage.js' )
    //script(src="/javascripts/services/logTimer.js")

    script(src="/javascripts/main-foodsaver.js")

    script(src="/javascripts/controllers/IndexController.js")
    script(src="/javascripts/controllers/LoginController.js")
    script(src="/javascripts/controllers/UpdateOrgController.js")
    script(src="/javascripts/controllers/SearchOrgController.js")
    script(src="/javascripts/controllers/DonateMealController.js")

    script(src="/javascripts/services/ConfigsService.js")
    script(src="/javascripts/services/LoggerService.js")
    script(src="/javascripts/services/MealCrudService.js")
    script(src="/javascripts/services/OrgCrudService.js")
    script(src="/javascripts/services/UtilsService.js")

    script( src='/bower_components/angular-loading-bar/build/loading-bar.js' )
    script( src='/bower_components/angular-animate/angular-animate.js' )
  else
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="/dist/js/bower_components.min.js")
    script(src="/dist/js/main.min.js")

block content
    div( ng-app="foodsaver" )

        div.alert.alert-danger.hidden
            a(href="#", class="close")
            p alert message

        nav.navbar
            div.container-fluid
                div.navbar-header
                    img(src="/images/savefood.jpg")

                if showNav
                    ul.nav.navbar-nav
                        li.active
                            a(href="#home") Home

                        li.dropdown
                            a(href="#", class="dropdown-toggle", data-toggle="dropdown" ) Meal
                                span.caret
                            ul.dropdown-menu
                                li
                                  a(href="#donate-meal") Donate a meal
                                  a(href="#active-meals") Active meals
                                  a(href="#meal-history") Meal history
                                  a(href="#search-meal") Search a meal

                        li.dropdown
                            a(href="#", class="dropdown-toggle", data-toggle="dropdown" ) Organization
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href="#update-org") Update your organization
                                    a(href="#search-org") Search nearby organizations

                else
                    | For accessing this site please login

                div.navbar-header.pull-right
                    div( class="loginWrapper", ng-controller="loginController" )
                        span {{loginStatusText}}
                        button( class="btn btn-danger", type="button", ng-click="loginButtonClicked()", ng-show="showLoginBtn" )
                            span.glyphicons.glyphicons-ok {{loginBtnText}}

        div( ng-controller="indexController" )
            div(ng-view)