doctype html
html
  head
    title= 'food saver app'
    block css
    block js
  body
    block navbar
    block content
    block footer
      footer.footer.row
        div.container
          p.text-muted "Footer section"